[submodule "actor-framework"]
	path = actor-framework
	url = https://github.com/actor-framework/actor-framework.git
[submodule "github.com/osblinnikov/cnets"]
	path = github.com/osblinnikov/cnets
	url = https://github.com/osblinnikov/cnets.git
